<div>
	<h2>NCBI RABV Sequences by Clade</h2>
	<treecontrol class="tree-light"
	 tree-model="almtNameToDescendentTree['AL_MASTER']"
	 expanded-nodes="almtNameToExpandedNodes['AL_MASTER']"
	 options="almtNameToTreeOptions['AL_MASTER']">
	 <a href="./#/project/alignment/{{node.alignmentName}}">{{node.alignmentRenderedName}}</a> 
	</treecontrol>
	
	<h4>Notes</h4>
	<ul>
		<li>RABV-GLUE clade definitions are based on the following publications:
		<ol>
		<li>Troupin et al. (2016) <a href="http://journals.plos.org/plospathogens/article?id=10.1371/journal.ppat.1006041" 
	target="_blank">Large-Scale Phylogenomic Analysis Reveals the Complex Evolutionary History of Rabies Virus in Multiple Carnivore Hosts</a>, PLoS Pathog 12(12): e1006041.</li>
		<li>Kuzmin et al. (2012) <a href="http://journals.plos.org/plospathogens/article?id=10.1371/journal.ppat.1002786" 
	target="_blank">Molecular Inferences Suggest Multiple Host Shifts of Rabies Viruses from Bats to Mesocarnivores in Arizona during 2001–2009</a>, PLoS Pathog 8(6): e1002786.</li>
		</ol>
		<li>Expand/collapse nodes to explore the clade tree.</li>
		<li>Click on a clade name to view the sequences within that clade, and other details.</li>
	</ul>
	
	
</div>