<div>
	<h2>Clade Tree</h2>
	<treecontrol class="tree-light"
	 tree-model="almtNameToDescendentTree['AL_MASTER']"
	 expanded-nodes="almtNameToExpandedNodes['AL_MASTER']"
	 options="almtNameToTreeOptions['AL_MASTER']">
	 <a href="./#/project/alignment/{{node.alignmentName}}">{{node.alignmentRenderedName}}</a> 
	</treecontrol>
	
	<h4>Notes</h4>
	<ul>
		<li>RABV-GLUE clade definitions are based on the following publication:<br/>D. B. Smith​, P. Simmonds​, J. Izopet​, E. F. Oliveira-Filho​, R. G. Ulrich​, R. Johne​, M. Koenig​, S. Jameel, T. J. Harrison, X.-J. Meng, H. Okamoto, W. H. M. Van der Poel and M. A. Purdy (2016)
		<a href="http://jgv.microbiologyresearch.org/content/journal/jgv/10.1099/jgv.0.000393#tab2" 
	target="_blank">Proposed reference sequences for hepatitis E virus subtypes</a>, Journal of General Virology 97: 537-542</li>
		<li>Expand/collapse nodes to explore the clade tree.</li>
		<li>Click on a clade name to view the sequences within that clade, and other details.</li>
		<li>Subtypes marked as "unassigned" do not yet have enough distinct isolates to assign a designation.</li>
	</ul>
	
	
</div>