<!DOCTYPE html>
<html >
<head>
	<style>
		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	  		display: none !important;
		}
	</style>
	<!-- Due to a bug in webcomponents, I can't use CSS with HTML imports -->
	<!-- (at least in IE) -->
	<!-- https://github.com/webcomponents/webcomponentsjs/issues/400 -->
	<link rel="stylesheet" href="../gluetools-web/bootstrap/css/bootstrap-yeti.css"/>
	<link rel="stylesheet" href="../gluetools-web/www/css/style.css"/>
	<link rel="stylesheet" href="../gluetools-web/angularjs-slider/rzslider.css"/>
	<link rel="stylesheet" href="./rabvApp.css"/>
	<link rel="stylesheet" href="../gluetools-web/angular-cookie-law/angular-cookie-law.min.css"/>
	
	<!-- link for CSS when using angular-tree-control as a Dom element -->
	<link rel="stylesheet" type="text/css" href="../gluetools-web/angular-tree-control-master/css/tree-control.css">


	<!-- Polyfill, required for browsers that do not support link rel="import" -->
	<script type="text/javascript" src="../gluetools-web/webcomponents/webcomponents-lite.min.js"></script>

	<link rel="import" href="./rabvAppDependencies.html"/>
</head>
<body>
<div ng-if="false" style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:50%;">
	<p style="text-align:center;">Powered by</p>
	<p style="text-align:center;"><img src="images/gluelogo_tiny.png" alt="GLUE logo"></p>
	<h3 style="text-align:center;">Loading, please wait ...</h3>
</div>
<cookie-law-banner message="This website uses Google Analytics First Party cookies for collecting usage statistics and some user-related data including geography and IP address. We use this facility to understand our users and improve our website. We do not store submitted sequence data on the server. In order to use the website, please indicate that you consent to our use of cookies and data collection." accept-text="I consent"></cookie-law-banner>

<div ng-cloak class="container" ng-controller="rabvAppCtrl">

	<!--  http://plnkr.co/edit/by9bV5jBA4Qn8VASfw08?p=preview  -->
	<div>
	  <nav class="navbar navbar-inverse " role="navigation">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	
	      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#home">{{brand}}</a>
	    </div>
	  
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
	    
	      <ul class="nav navbar-nav">
	        <li><a href="#home">{{homeMenuTitle}}</a></li>
	        <li class="dropdown" dropdown>
	          <a href="#" dropdown-toggle class="dropdown-toggle" data-toggle="dropdown">{{projectBrowserMenuTitle}} <b class="caret"></b></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="#project/alignment">{{projectBrowserAlignmentMenuTitle}}</a></li>
	            <li><a href="#project/sequence">{{projectBrowserSequenceMenuTitle}}</a></li>
	          </ul>
	        </li>
	        <li class="dropdown" dropdown>
	          <a href="#" dropdown-toggle class="dropdown-toggle" data-toggle="dropdown">{{analysisMenuTitle}} <b class="caret"></b></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="#rabvFastaAnalysis">{{analysisToolMenuTitle}}</a></li>
	          </ul>
	        </li>
	        <li><a href="#aboutGlueProject">{{glueProjectMenuTitle}}</a></li>
	        <li class="dropdown" dropdown>
	          <a href="#" dropdown-toggle class="dropdown-toggle" data-toggle="dropdown">{{aboutMenuTitle}} <b class="caret"></b></a>
	          <ul class="dropdown-menu" role="menu">
		        <li><a href="#team">{{teamTitle}}</a></li>
		        <li><a href="#versionInfo">{{versionInfoTitle}}</a></li>
		        <li><a href="#howToCite">{{howToCiteTitle}}</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </nav>
	</div>     

	<div ng-view></div>

	<hr/>
	
	<div>
		<div class="row">
			<div class="col-md-3">
				<a target="_blank" href="http://www.gla.ac.uk/researchinstitutes/iii/cvr/"><img style="width:100%" alt="CVR logo" src="./images/cvrBioinformatics_scaled.png"></a>
			</div>
			<div class="col-md-7">
				<p>RABV-GLUE is based on the <a target="_blank" href="http://glue-tools.cvr.gla.ac.uk">GLUE</a> software framework. 
				GLUE and RABV-GLUE are developed and maintained by the 
				<a target="_blank" href="http://www.gla.ac.uk/researchinstitutes/iii/cvr/">MRC-University of Glasgow Centre for Virus Research</a>, 
				the <a target="_blank" href="http://www.gla.ac.uk/researchinstitutes/iii/cvr/">University of Glasgow Institute of Biodiversity, Animal Health and Comparative Medicine</a>,
				the <a target="_blank" href="https://www.gov.uk/government/organisations/animal-and-plant-health-agency">UK Government Animal and Plant Health Agency</a> and the 
				<a href="https://www.cdc.gov/" target="_blank">US Centers for Disease Control and Prevention</a>. 
				<span style="color:#cc2222">Please note this is beta software, still undergoing development and testing before its official release.</span></p> 
			</div>
			<div class="col-md-2">
			<p>
				<a target="_blank" href="https://www.researchgate.net/project/RABV-GLUE-A-Sequence-data-resource-for-Rabies-Virus">
					<img style="width:60px;padding-right:10px" align="left" alt="RABV-GLUE Project on ResearchGate" src="../gluetools-web/www/images/RG_square_green.jpg">
				</a>
				<a href="https://twitter.com/intent/tweet?button_hashtag=rabvGlue">
					<img style="width:60px;padding-right:10px" align="left" alt="RABV-GLUE on Twitter" src="../gluetools-web/www/images/Twitter_Logo_White_On_Blue.png">
				</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</p>
			</div>
		</div>
		<div class="row" style="padding-top:5px">
			<div class="col-md-12">
				<p class="text-center">
					<a target="_blank" href="https://www.gla.ac.uk/researchinstitutes/bahcm/">
						<img style="height:65px; padding-left:0px"" alt="IBAHCM logo" src="./images/IBAHCM_desat.png">
					</a>	
					<a target="_blank" href="https://www.gov.uk/government/organisations/animal-and-plant-health-agency">
						<img style="height:80px; padding-left:70px"" alt="APHA logo" src="./images/APHA_desat.png">
					</a>	
					<!-- removed pending further authorisation from CDC -->
					<!-- <a target="_blank" href="https://www.cdc.gov/">
						<img style="height:80px; padding-left:70px"" alt="US Centers for Disease Control and Prevention logo" src="./images/CDC_logo_desat.png">
					</a>  -->	
				</p>
			</div>
		</div>
	</div>
	
</div>

</body>
</html>